.purple{
    color:purple;
}

.blue{
    color:blue;
}

body{
    background-image: url("https://w0.peakpx.com/wallpaper/613/152/HD-wallpaper-pokemon-pokeball-pokemon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

h3{
    text-align: center;
    color: #FFCB05;
    text-transform: uppercase;
}

.card{
    background-color: #486fc4;
    border-radius: 8px;
}

p{
    color: beige;
    margin-left: 55px;
}

