.purple{
    color:purple;
}

.blue{
    color:blue;
}

body{
    background-image: url("https://w0.peakpx.com/wallpaper/613/152/HD-wallpaper-pokemon-pokeball-pokemon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    text-align: center;
    color: #FFCB05;
    text-transform: uppercase;
}

.card{
    background-color: beige;
    border-radius: 8px;
}

p{
    color: black;
}

.pokeimg{
    min-height: 120px;
}
