

h3{
    margin-left: 15px;
    text-align: left;
    color: #FFCB05;
    text-transform: uppercase;
}

.card{
    background-color: beige;
    border-radius: 8px;
    height: 240px;
    box-shadow: 6px 6px 5px -5px black;
    
}

p{
    margin-left: 15px;
    text-align: left;
    color: black;
}

img{
    margin-top: -200px;
    margin-left: 160px;
    min-height: 120px;
    max-height: 150px;
}

.btn{
    position: relative;
    margin-top: -17px;
    margin-left: 122px;
}

